///* ========================================================================
//   #COLORS
//   ======================================================================== */
// All colors used in the project.

$cWhite : #FFF;
$cBlack : #000;

$cDarkGrey : #464646;
$cGrey : #383F51; //#383838;
$cLightGrey: #f3F3F3;
$cRed: #C25452; //#ff0000;
$cBlue : #A4D4ED;
$cGreen: #62C370;

$cMain: #ff8983;
$cSecond: #ffead6;

/**
 * Social colors
 */
$cFacebook : #3B5998;
$cTwitter : #55ACEE;
$cPinterest : #CB2027;
$cBehance : #1769FF;
$cDribble : #EA4C89;
$cYoutube : #CD201F;
$cVimeo : #1AB7EA;
$cLinkedin : #0077B5;
$cGithub : #2F2F2F;
