.project {
  &__title {
    margin-bottom: 0;
  }

  &__date {
    display: block;
    font-size: r(14px);
    font-weight: 600;
    margin: r(20px) 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: r(30px);
  }

  &__content.wysiwyg {
    margin-top: 0;
    & {
      em, b, strong{
        color: $cGrey !important;
      }
      a {
        color: $cMain !important;
        text-decoration: none;
        &::before {
          background-color: $cMain;
        }
      }

      blockquote {
        border-left-color: $cMain;
      }
    }
  }

  &__objectives {
    &-list {

    }
    &-item {
      color: white;

      &:before {
        content: "";
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1rem;
        vertical-align: top;
      }
    }

    &-item + &-item {
      padding-top: r(25px);
    }
  }


}
