.project {
  &__title {
    margin-bottom: 0;
  }

  &__date {
    display: block;
    font-size: r(14px);
    font-weight: 600;
    margin: r(20px) 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: r(30px);

    @include mq($until: tablet) {
      grid-template-columns: 1fr;
    }

    & .c-btn {
      margin-top: r(15px);
    }
  }

  &__objectives {
    margin-top: r(50px);

    @include mq($from: tablet) {
      padding: r(50px);
      margin-top: r(80px);
    }

    &-list {

    }
    &-item {
      color: white;
      display: flex;

      &:before {
        content: "";
        height: 20px;
        width: 20px;
        min-width: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1rem;
        margin-top: r(5px);
        vertical-align: top;

        @include mq($until: mobile) {
          height: 10px;
          width: 10px;
          min-width: 10px;
          margin-top: r(7px);
        }
      }
    }

    &-item + &-item {
      padding-top: r(25px);
    }
  }

  &__languages {
    &  .o-wrapper {
      @include mq($from: laptop) {
        max-width: r(800px);
      }
    }
    & .title {
      text-align: center;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: r(30px);
    @include mq($until: tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: r(15px);
    }

    & .c-btn {
      justify-content: center;
    }

    & .archive {
      grid-column-start: 2;
      @include mq($until: tablet) {
        grid-column: 1/-1;
        grid-row-start: 2;
      }
    }
  }

}
