.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: r(20px);
  padding: r(25px) r(25px) 0;

  &__nav {

    & .nav__links {
      flex-wrap: wrap;
      justify-content: center;

      & .menu-item {
        width: auto;

        @include mq($until: mobile) {
          font-size: 1rem;
          padding: r(10px);
        }
      }
    }

    &-wrapper {

    }
  }

  &__social {
    display: flex;
    gap: r(30px);
  }

  & .social__container {
    position: relative;

    &:hover {
      & svg path {
        fill: $cMain;
        transition: fill .2s ease-in-out;
      }
    }

    & svg path {
      transition: fill .2s ease-in-out;
    }
  }

  &__copyright {
    padding: r(25px);
    
    @include mq($until: mobile) {
      padding: r(10px);
    }
  }
}
