.tabs {
  display: flex;
  align-items: center;
  gap: r(50px);

  @include mq($until: tablet) {
    flex-direction: column;
    align-items: center;
    gap: r(10px);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: r(25px);
    width: 50%;
    min-width: 50%;

    @include mq($until: tablet) {
      gap: 0;
      width: 100%;
      min-width: 100%;
    }
  }

  & .tab {
    &__input {
      display: none;

      & + &__link {
        background-color: #fff;
        border-bottom: 1px solid #fff;
      }
    }

    &__figure {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      background-color: white;
      padding: r(15px);
      //border: 1px solid $cWhite;
      width: 150px;
      height: 150px;
      transition: border 300ms ease;

      @include mq($until: 820px) {
        width: 120px;
        height: 120px;
        padding: r(10px);
      }

      @include mq($until: tablet) {
        width: 100px;
        height: 100px;
        padding: r(10px);
      }

      @include mq($until: mobile) {
        width: 70px;
        height: 70px;
        padding: r(7px);
      }

      &--active {
        //border: 1px solid $cMain;
        transition: border 300ms ease;
      }
    }

    &__link {
      cursor: pointer;
      //padding: r(10px);
      //border: 1px solid $cWhite;
      //border-radius: 50%;
      //margin-bottom: 5px;
      width: 80%;
      text-align: center;
      transition: border 300ms ease, opacity 300ms ease;
      opacity: .5;

      &:hover {
        opacity: 1;
        transition: opacity 300ms ease;
      }

      &--active {
        transition: border 300ms ease, opacity 300ms ease;
        opacity: 1;
      }
    }

    &__content {
      display: none;
      max-width: r(600px);
      text-align: center;

      &--active {
        display: block;
      }
      &-container {

      }
    }

  }
}
